#Dans ce fichier on ajoute les fichiers qu'on ne veut pas commiter avec git

#Dossier perso de JetBrains
.idea/

#Mac
.DS_Store

#On ne veut pas commiter les fichiers de node_modules = les dépendances
node_modules/

#On ne commit pas les logs
npm-debug.log

